body {
  font-family: "Big Caslon","Book Antiqua","Palatino Linotype",Georgia,serif;
  background-image: url('cloudy-day.png');
}

.navbar-brand {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 4em;
}