<h1>Add a product. It has to be a plant.</h1>
<form action = "/products" method="post">
  <div>
    Plant Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Supplier: <input type="text" name="supplier_id">
  </div>
 <!--  <div>
    Image URL: <input type="text" name="url">
  </div> -->
  <input type = "submit" value = "Create Product">
</form>